<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo</title>
  </head>
  <body>
    <input type="text" name="iname" id="iname" />
    <select name="selector" id="gender">
      <option value="m">m</option>
      <option value="f">f</option>
    </select>
    <button id="btn">Submit</button>
    <br /><br /><br />
    <a href="/"><button id="btn">Procastinate more</button></a>
    <img src="" id="img" />
    <a href="/">Home</a>
    <script src="js/bill.js" defer></script>
  </body>
</html>
